<h1>Events</h1>

<% @events.each do |event| %>
  <article>
    <header>
      <%= image_tag event.image_file_name %>
      <h2><%= link_to(event.name, event) %></h2>
      <h3><%= pluralize(event.capacity, 'spot') %> available </h3>
    </header>
    <p>
      <%= truncate(event.description, length: 40, separator: ' ') %>
    </p>
    <table>
      <tr>
        <th>When</th>
        <td><%= event.starts_at.to_s %></td>
      </tr>
      <tr>
        <th>Where</th>
        <td><%= event.location %></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><%= format_price(event) %></td>
      </tr>
    </table>
  </article>
<% end %>

<%= link_to("Add New Event", new_event_path) %>
