<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1><%= @event.name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= image_for(@event) %>
    </div>

    <div class="col-md-9">
      <h2><%= @event.starts_at %></h2>
      <p><%= @event.description %></p>

      <div class="row">
        <div class="col-md-12">
          <h3>Price</h3><hr>
          <p><%= format_price(@event) %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Location</h3><hr>
          <p><%= @event.location %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Capacity</h3><hr>
          <p><%= pluralize(@event.capacity, 'spot') %></p>
        </div>
      </div>
      <br>

      <div class="actions">
        <%= link_to "Who's Registered?", event_registrations_path(@event) %>
      </div>
      <br>

      <div class="actions">
        <%= link_to "Edit", edit_event_path(@event), class: "btn btn-primary" %>
        <%= link_to "Delete", event_path(@event), class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>

    </div>

  </div>
</div>
