<article>
  <header>
    <%= image_for(@event) %>
    <h1><%= @event.name %></h1>
    <h2><%= @event.starts_at %></h2>
  </header>

  <p>
    <%= @event.description %>
  </p>

  <h3>Price</h3>
  <p>
    <%= format_price(@event) %>
  </p>

  <h3>Location</h3>
  <p>
    <%= @event.location %>
  </p>

  <h3>Capacity</h3>
  <p>
    <%= pluralize(@event.capacity, 'spot') %>
  </p>

</article>

<nav>
  <%= link_to("All Events", root_path) %> |
  <%= link_to("Edit", edit_event_path(@event)) %> |
  <%= link_to("Delete", event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }) %>
</nav>
